#root {
  width: 100vw;
}

.page {
  min-height: 100vh;
}

.page__nav {
  background-color: #171717;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  position: relative;
  z-index: 1000;
}

.page__nav-logo {
  font-size: 1.7rem;
  color: #fff;
}

.page__aside {
  display: none;
  width: var(--page-desktop-aside-width);
  flex-shrink: 0;
  background-color: #171717;
}

.page__gallery {
  flex-grow: 1;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding: var(--page-gallery-block-padding) var(--page-gallery-inline-padding);
  background-color: #ededed;
}

/***********/
/* Desktop */
/***********/

@media (min-width: 992px) {
  .page {
    display: flex;
  }

  .page__nav {
    display: none;
  }

  .page__aside {
    display: block;
  }
}
