#root {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.page {
  min-height: 100vh;
  flex-grow: 1;
}

/***********/
/* Desktop */
/***********/

@media (min-width: 992px) {
  .page {
    display: flex;
  }
}
