.error-modal {
  flex-grow: 1;
  z-index: 2;
  background-color: var(--overlay-color);
  position: fixed;
  width: 85%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-modal__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 900px;
  max-height: 1000px;
  width: 80%;
  min-height: 50%;
  margin: 30px auto;
  padding: 30px 50px;
  border-radius: var(--border-radius);
  color: var(--font-color-light);
  background-color: var(--display-background-color-light);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.error-modal__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  margin: 10px 10px 0 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.error-modal__close-btn:focus {
  outline: inherit;
}

.error-modal__close-btn svg {
  font-size: 2rem;
  color: #fff;
}

.error-modal__close-btn svg:hover {
  color: rgba(255, 255, 255, 0.93);
}

.error-modal__icon {
  font-size: 5rem;
}

.error-modal__search-suggestion-list {
  list-style-type: none;
  padding: 0;
}

/***********/
/* Desktop */
/***********/
/*
@media (min-width: 992px) {
  .error-modal {
    width: var(--page-desktop-gallery-width);
  }

  .error-modal__overlay {
    margin-top: 0;
    margin-left: calc(-1 * (var(--page-gallery-inline-padding) * 2));
    padding: 1.3rem 3rem;
  }

  .error-modal__icon {
    font-size: 5rem;
  }
}
*/
