footer{
    display: flex;
    align-items: center;
    gap:0.5em;
    justify-content: center;
    background: white;
    width: 100%;
    text-align: center;
    padding: 1em;
    cursor: pointer;
    font-size: 0.8rem;
}

.footer-img{
    width:20px
}

footer a{
    color: brown;
}