.gallery-section {
  flex-grow: 1;
  background-color: var(--primary-yellow);
  padding: var(--page-gallery-block-padding) var(--page-gallery-inline-padding);
  color: var(--font-black);
}

.searched-ingredients {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 7px;
  margin-bottom: 1.3rem;
}

.searched-ingredients span {
  border-radius: 5px;
  height: 1rem;
  line-height: 1rem;
  padding: 3px 17px;
  font-size: 0.9rem;
  color: var(--primary-gray);
  border: 1px solid var(--primary-gray);
}

.gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

@media (min-width: 1900px) {
  .searched-ingredients {
    font-size: 1.5rem;
  }

  .searched-ingredients span {
    padding: 7px 17px;
    font-size: 1.5rem;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}
