.loader-modal {
  flex-grow: 1;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 500;
  margin-left: calc(-1 * var(--page-gallery-inline-padding));
  background-color: rgba(255, 255, 255, 0.77);
  backdrop-filter: blur(1.3px);
  position: fixed;
  left: calc(var(--page-desktop-aside-width) + 4em);
  height: 100%;
}

/***********/
/* Desktop */
/***********/

@media (min-width: 992px) {
  .loader-modal {
    width: var(--page-desktop-gallery-width);
  }
}
