.loader-modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: var(--z-index-level-1);
  margin-left: calc(-1 * var(--page-gallery-inline-padding));
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(2.3px);
}

/***********/
/* Desktop */
/***********/

@media (min-width: 992px) {
  .loader-modal {
    width: var(--page-desktop-gallery-width);
  }
}
