.recipe-container {
  background-color: var(--overlay-color);
  z-index: 2;
  position: fixed;
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-modal {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "close"
    "video" "name" "description" "difficulty" "yield" "ingredients" "nutrition"
    "instructions";
  max-width: 900px;
  max-height: 1000px;
  width: 80%;
  height: 80%;
  align-items: center;
  padding: 30px 50px;
  margin: 30px auto;
  background-color: var(--display-background-color-light);
  border-radius: var(--border-radius);
  overflow-y: auto;
  font-size: 1.3rem;
  line-height: 45px;
  gap: 5px 0;
  color: var(--font-color-light);
}

.recipe-modal__close {
  grid-area: close;
  display: flex;
  flex-direction: row-reverse;
}

.recipe-modal__close svg {
  scale: 2;
  cursor: pointer;
}

.recipe-modal__video {
  grid-area: video;
  display: flex;
  justify-content: center;
}

.recipe-modal__video video {
  border-radius: var(--border-radius);
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #000;
}

.recipe-modal__name {
  grid-area: name;
}

.recipe-modal__description {
  grid-area: description;
}

.recipe-modal__difficulty {
  grid-area: difficulty;
}

.recipe-modal__yield {
  grid-area: yield;
}

.recipe-modal__ingredients {
  grid-area: ingredients;
}
.recipe-modal__yield {
  grid-area: nutrition;
}
.recipe-modal__instructions {
  grid-area: instructions;
}
