
.main-container {
  padding: 2em 2em;
}

.container-input {
  display: flex;
  align-items: center;
}

.main-container-checkbox {
  display: flex;
  /* justify-content: space-between; */
  width: 70%;
  margin-top: 0.5em;
  gap:10px;
  text-align: center;
}

.container-checkbox {
  display: flex;
  flex-direction: column;
 
}

.search-box {
  /* padding: 1em;
  
  border: 1px solid black;
  border-right: none;
  outline: none;
  height: 60px;
   */

   border: 1px solid black;
  border-right: none;
  /* border-radius: 20px 0px 0px 20px; */
  outline: none;
  color: black;
  height: 60px;
  text-align: center;
  width: 60%;
}

.search-btn {
  /* 

    height: 90px; 
    border: 1px solid black;
    border-left:none;
    background: none;
     */

     /* display: flex;
  align-items:center;
  justify-content: center; */
  padding: 1.5em;
  width: 40px;
  height: 65px;
  border: 1px solid black;
  background: none;
  text-align: center;
  outline: none;
  border-radius: 0px 0px 0px 0px;
    
}

.container-category {
  display: flex;
  gap:10px;
  margin-top: -1.8em;
  flex-wrap: wrap;
  width: 300px;
}

.main-container-category {
  margin-top: 6em;
}

/* .checkbox {
  display: block;
} */

/* @media(min-width:996px)  {
.search-box {
  padding: 1em;
  width: 100%;
  border: 1px solid black;
  border-right: none;
  outline: none;
  height: 60px;
  text-align: center;
}

.container-input {
  display: flex;
  align-items: center;
  width: 100%;
}



} */