@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap");

.welcome-modal {
  color: #fff;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
  animation-name: fade-out-welcome-modal;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  /* Activate display: none to temporarily disable the welcome modal, e.g., while testing the app */
  /* display: none; */
  position: fixed;
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-modal__heading {
  font-family: "Outfit", sans-serif;
  font-size: 2.8rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.33);
  margin: 0;
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fade-out-welcome-modal {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    translate: 100%;
  }
}

/*********************/
/* Tablet and Desktop*/
/*********************/

@media (min-width: 600px) {
  .welcome-modal__heading {
    font-size: 3rem;
  }
}

/***********/
/* Desktop */
/***********/

@media (min-width: 992px) {
  .welcome-modal__heading {
    /*width: calc(var(--page-desktop-gallery-width) * 0.7);*/
  }
}
